<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.esprit.mypets">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_logo_foreground"
        android:label="MyPets"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyPets"
        android:usesCleartextTraffic="true">
        <activity android:name=".app_bar_main"></activity>
        <activity android:name=".ProfileAnimal" />
        <activity android:name=".AbriProfile" />
        <activity android:name=".VeterinaireProfile" />
        <activity android:name=".AbriList" />
        <activity android:name=".VeterinaireList" />
        <activity android:name=".SideMenu" />
        <activity android:name=".LostAndFound" />
        <activity android:name=".Adoption" />
        <activity android:name=".AddAnimal" />
        <activity android:name=".MyAnimals" />
        <activity android:name=".MyProfile" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>